
#info {
    justify-content: space-between;
}

.info-item {
    margin: 10px;
}

.flex-wrapper {
    display: flex;
    align-items: center;
}

#left-info {
    justify-content: flex-start;
}

#right-info {
    justify-content: flex-end;
}

body {
    max-width: 1000px;
    margin: auto;
}

#main-header {
    flex-direction: column;
}

.logo {
    height: 70px;
    width: 100%;
    display: block;
}

.menu-toggle::before {
    content: '\f800';
}

.main-panel-item {
    align-self: center;
    margin: 10px;
}

.main-panel-item-icon {
    align-self: center;
}

#auth {
    flex-direction: column;
    margin: 5px;
}

#log-in-and-register > * {
    margin: 2px;
}