.calendar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.calendar-header, .calendar-weekdays {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.calendar-weekdays > * {
    padding: 2px;
}