.calendar, .calendar-rows, .calendar-year-selector-rows {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.calendar-year-selector-rows {
    flex-grow: 1;
}

.calendar {
    border-style: solid;
    border-width: 2px;
}

.calendar-header, .calendar-weekdays, .calendar-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.calendar-weekdays {
    border-style: solid;
    border-width: 2px 0px 2px 0px;
}

.calendar-weekday {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-basis: 1px;
}

.calendar-weekday-weekend {
    color: red;
}

.calendar-cell, .calendar-month-selector-month, .calendar-year-selector-year {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content: center;
    flex-basis: 1px;
    transition: background-color 0.2s;
}

.calendar-cell:hover:not(.calendar-cell-selected) {
    background-color: #2ca7f8;
    color: white;
}

.calendar-cell-selected {
    background-color: #2ca7f8;
    color: white;
}

.calendar-cell-weekend-or-holiday {
    color: red;
}

.calendar-cell-prev-month, .calendar-cell-next-month {
    color: gray;
}

.calendar-cell-weekend-or-holiday.calendar-cell-prev-month,
.calendar-cell-weekend-or-holiday.calendar-cell-next-month {
    color: lightcoral;
}

.calendar-header-prev-month, .calendar-header-next-month {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: none;
    align-self: stretch;
}

.calendar-header-prev-month:hover, .calendar-header-next-month:hover {
    background-color: #e7e7e7;
}

.calendar-current-month {

}

.calendar-current-year {
    
}

.calendar-month-selector, .calendar-year-selector{
    display: none;
}

.calendar-month-selector-shown {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
}

.calendar-year-selector-shown {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
}

.calendar-month-selector-row, .calendar-year-selector-row {
    display: flex;
}

.calendar-month-selector-month-selected {
    background-color: #2ca7f8;
    color: white;
}

.calendar-month-selector-month:hover:not(.calendar-month-selector-month-selected) {
    background-color: #2ca7f8;
    color: white;
}

.calendar-year-selector-year-selected {
    background-color: #2ca7f8;
    color: white;
}

.calendar-year-selector-year:hover:not(.calendar-year-selector-year-selected) {
    background-color: #2ca7f8;
    color: white;
}

.calendar-year-group-picker {
    display: flex;
    justify-content: stretch;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: none;
}

.calendar-year-group-picker:hover {
    background-color: #e7e7e7;
}

#cal {
    width: 300px;
    height: 300px;
}